environment = "local"

project_name = "homelab"

backend_image = "traefik/whoami:v1.11.0"

proxy_image = "nginx:1.31"

backends = [
  "backend-01",
  "backend-02",
  "backend-03",
  "backend-canary"
]
