server {
    listen        {{ server_base_nginx_listen_port }};
    server_name   {{ server_base_nginx_server_name }};

    access_log   /var/log/{{ server_base_nginx_server_name }}_access.log combined;

    location / {
        root  /var/www/example;
        index index.html;
    }

    location /health {
        access_log off;
        default_type application/json;
        return 200 '{"status":"ok"}';
    }
}
